{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}

{% if current_user.is_authenticated %}
    <h2 style="text-align: left;">Movies</h2>
    <div class="media-scroller sinlinenaps-">
        {% for movie in movies %}
            <a href="{{ url_for('views.view_movie', id=movie.id) }}" style="color: #FEC63D">
                <div class="card" style="width: 18rem;">
                    <img src="{{ movie.img }}" class="card-img-top" alt="movie" class="img-thumbnail bg-secondary">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ movie.movie_title }}</h5>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <h2>TV Series</h2>
    <div class="media-scroller snaps-inline">
        {% for tv_show in tv_shows %}
            <a href="{{ url_for('views.view_tv_show', id=tv_show.tv_id) }}" style="color: #FEC63D">
                <div class="card" style="width: 18rem;">
                    <img src="{{ tv_show.img }}" class="card-img-top" alt="tv" class="img-thumbnail bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title">{{ tv_show.title }}</h5>
                        <h5>{{ tv_show.num_seasons }} Seasons</h5>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% else %}
    <p>There is nothing to show!</p>
{% endif %}
{% endblock %}
